<div class="fieldset-panel" id="panel-matching">
    <p class="fieldset-panel__hint">Adicione os pares correspondentes (Termo em cima, Definição embaixo).</p>
    <div class="pair-list" id="match-pairs">
        <div class="pair-row">
            <input type="text" name="data_pairs_left" class="option-row__input pair-row__input--top" placeholder="Coluna A (Termo)">
            <input type="text" name="data_pairs_right" class="option-row__input pair-row__input--bottom" placeholder="Coluna B (Significado/Resposta)">
            <button type="button" class="option-row__remove js-remove-pair">✕</button>
        </div>
        <div class="pair-row">
            <input type="text" name="data_pairs_left" class="option-row__input pair-row__input--top" placeholder="Coluna A (Termo)">
            <input type="text" name="data_pairs_right" class="option-row__input pair-row__input--bottom" placeholder="Coluna B (Significado/Resposta)">
            <button type="button" class="option-row__remove js-remove-pair">✕</button>
        </div>
    </div>
    <button type="button" class="add-option-btn" data-action="add-pair">+ Adicionar par</button>
</div>