<div class="fieldset-panel" id="panel-ordering">
    <p class="fieldset-panel__hint">Adicione os itens já na ordem correta.</p>
    <div class="option-list" id="ord-options">
        <div class="option-row">
            <span class="option-row__index">1</span>
            <input type="text" name="data_items" class="option-row__input" placeholder="Item 1">
            <button type="button" class="option-row__remove js-remove-order">✕</button>
        </div>
        <div class="option-row">
            <span class="option-row__index">2</span>
            <input type="text" name="data_items" class="option-row__input" placeholder="Item 2">
            <button type="button" class="option-row__remove js-remove-order">✕</button>
        </div>
    </div>
    <button type="button" class="add-option-btn" data-action="add-order">+ Adicionar item</button>
</div>